<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NavBar{% endblock %}</title>
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <header>
        <h1 id="topWelcome"> Kru's Cyber Space</h1>
        <nav id="topNav">
            <a href="\">| Home |</a>
            <a href="\weather">| Weather |</a>
            <a href="\congress">| US Congress |</a>
            <a href="\bookgram">| Book Gram |</a>
        </nav>
    </header>
    {% block content %}
        <!-- Anything above ^^^ is template, anything below is content of each specific child page.  Footer goes all the way across -->
    {% endblock %}
    <footer>
        <p>&copy; Kru Patel</p>
        <p><a href="#">Back to Top</a></p>
    </footer>
</body>
</html>